
body {
  font-style: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

/* Header Styles */

header {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  width: 100%;
  font-size: 1rem;
}

header img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

header span {
  padding-right: 2rem;
  color: white;
}

header img,
header nav {
  padding-top: 1rem;
  padding-bottom: 1rem;

}

/* Banner Styles */

.banner {
  display: flex;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  height: 13.5rem;
}

.banner img {
	width: 100%;
	height: auto;
	display: block;
}


.banner div {
  width: 100%;
}

.banner p {
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.2;
  margin-top: 9rem;
  padding: 1rem;
}

/* Highlights Styles */

.highlights {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3.77em;
  padding-bottom: 3.77em;
  font-size: 0.77rem;
}

.highlights div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 1.54rem;
  }

.highlights img {
  padding-bottom: 1rem;
}

.highlights p {
  text-align: center;
}

.highlights .paper img {
  width: 3.5rem;
}

.highlights .ruler img,
.highlights .truck img {
  width: 5rem;
}

/* About Styles */

.about {
  display: flex;
  flex-wrap: wrap;
}

.about div {
  width: 100%;
}

.about h1 {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: cadetblue;
  text-align: center;
}

.about p {
  padding: 1rem 1rem 4rem 1rem;;
  font-size: 0.77rem;
}

/* Footer Styles */

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: azure;
}

footer img {
  height: 1.5rem;
  padding: 4rem;
}
