html {
  font-style: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

/*Desktop site width*/

.site {
  width: 960px;
}

/*Banner background image container*/

.banner {
  display: flex;
  height: 31rem;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/glasses-bg.png');
  background-size: cover;
  background-position: 50%;
}

/*Banner menu styles*/

.menu {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menu div{
  display: flex;
  font-size: 1rem;
  align-items: center;
}

.menu img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.menu span {
  padding-right: 2rem;
}

/*Banner textbox stlyes*/

.textbox {
  display: flex;
  justify-content: flex-end;
  padding-left: 2rem;
}

.textbox p{
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}


/*Highlights stlyes*/

.highlights {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.highlights div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 8rem;
  padding: 3rem;
}

.paper img{
  width: 3.5rem;
}

.ruler img,
.truck img {
    width: 5rem;
}

.highlights p {
  padding-top: 2rem;
}

/*Philosophy and Appointments stlyes*/

.about {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 5rem;
}

.about .text{
  display: block;
  width: 35%;
}

.about .title {
  width: 10rem;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

.content {
  padding-top: 1rem;
}

.about .emptyspace{
  width: 5%;
}

/*Footer stlyes*/

footer {
  display: flex;
  margin: 0 auto;
  background-color: azure;
  padding: 4rem;
}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
}

/*Tablet responsive*/

@media only screen and (max-width: 768px) {

  .site {
    width: 100%;
  }

  /*Banner background image container*/

  .banner {
    width: 100%;
    background-position: 40%;
    height: 22rem;
  }

  /*Banner menu styles*/

  .menu {
    margin-top: 0rem;
  }

  /*Banner textbox stlyes*/

  .textbox {
    padding-left: 0rem;
    padding-right: 2rem;
  }

  .textbox p{
    margin-top: 5rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 600px) {

body {
  background-color: red;
}
